/* .App
  text-align: center
//
$theme-black: #222

.App-header
  background-color: $theme-black
  height: 120px
  padding: 20px
  color: white



.App-intro
  font-size: large

/* .App-logo
// animation: App-logo-spin infinite 20s linear
// height: 80px
//  */

/* @keyframes App-logo-spin
  from  transform: rotate(0deg)
  to  transform: rotate(360deg)
 */

/* .App-title
	background-color:
	margin:0
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif
 */

.App-header
	display: flex
	flex-direction: row
	justify-content: space-around
	align-items: flex-start
  background-color: $theme-black
  height: 100px
  padding: 20px

.icons
	display: flex
	flex-direction: row
	justify-content: space-between

.linkedin
  height: 50px
  margin: 0
  padding-top: 12px
  padding-left: 5px

.github
	height: 70px
	margin: 0

.body
	background-color: black
