$theme-black: #222
$theme-red: rgb(217, 13, 13)
.App
  margin: 0

.App-header
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  background-color: $theme-black
  height: 500px
  padding: 20px
  margin: 0
  color: white

.titles
  display: flex
  flex-direction: column
  align-items: center

.App-logo
  animation: logo-spin infinite 1s linear
  height: 80px

@keyframes logo-spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.App-title
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif
  // font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif
  margin: 0
  font-size: 60px

.icons
	display: flex
	flex-direction: row
	justify-content: space-between

.linkedin
  height: 50px
  margin: 0
  padding-top: 22px
  padding-left: 5px
  &:hover
    animation: logo-spin 1.1s ease-in-out 0s

.github
  &:hover
    animation: logo-spin 1.1s ease-in-out 0s
  height: 90px

.gmail
  height: 60px
  padding-top: 18px

  &:hover
    animation: logo-spin 1.1s ease-in-out 0s

.me
  // &:hover
    // animation: test 2s ease-in-out 0s
  height: 400px


// @keyframes test
//   0%
//     height: 400px
//   100%
//     height: 500px


.box
  display: inline-block
  background: white
  width: 200px
  height: 200px
  position: relative
  animation: myframes 2s ease-in-out 0s infinite
  animation-direction: alternate

  &.is-paused
      animation-play-state: paused

@keyframes myframes
    from
      height: 200px
    to
      height: 600px
      background: red

.coffee
  height: 140px

.skills
  display: flex
  align-items: center
  justify-content: space-around
  flex-direction: column
  margin: 0
  // background-color: rgb(217, 1, 1)
  background-color: white
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif
  height: 1000px

.skills-title
  font-size: 60px

.skill_icons
  display: grid
  // height: 300px
  width: 1200px
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 40px
   // grid-auto-rows: minmax(100px, auto)


.javascript-img
  height: 200px
  padding: 10px
  margin: 0

.css-img
  height: 200px
  padding: 10px
  margin: 0

.jquery-img
  height: 200px
  padding: 10px
  margin: 0

.react-img
  height: 200px
  padding: 10px
  margin: 0

.angular-img
  height: 200px
  padding: 10px

.redux-img
  height: 200px

.node-img
  height: 200px

.mysql-img
  height: 200px

.html-img

.sass-img
  height: 170px

.projects
  display: flex
  color: white
  justify-content: space-around
  align-items: center
  flex-direction: column
  height: 1000px
  background-color: $theme-black

  .projects-title
    font-size: 60px

  .project-imgs
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: row

    .data-world
      display: flex
      justify-content: space-around
      align-items: center
      flex-direction: column
      padding: 20px
      .data-world-title
        font-size: 50px
      .data-world-img
        height: 500px

    .campfire
      display: flex
      justify-content: space-around
      align-items: center
      flex-direction: column
      padding: 20px
      .campfire-title
        font-size: 50px
      .campfire-img
        height: 500px

.container
  position: relative
  // width: 50%
  &:hover .overlay
    opacity: 1

.overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 500px
  opacity: 0
  transition: .5s ease
  background-color: $theme-red

.text
  color: white
  font-size: 20px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  // -ms-transform: translate(-50%, -50%)
  text-align: center
